@model Veterinary.Web.Data.Entities.Pet
@{
    ViewData["Title"] = "DetailsPet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Owner
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Race)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Race)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Born)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Born)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:300px;max-height: 100%; width: auto;" />
            }
        </div>
    </div>
</div>

    <div id="BtnRight">
        <button data-id="@Model.Id" class="btn btn-warning EditPetItem" title="Edit"><i class="fa fa-edit"></i></button>
        <button data-id="@Model.Id" class="btn btn-primary AddHistoryItem" title="Create"><i class="fa fa-plus"></i></button>
        <button data-id="@Model.Owner.Id" class="btn btn-success DetailsPetItem" title="Return"><i class="fa fa-undo"></i></button>
    </div>

<hr />
<div class="alert alert-primary" role="alert">
    History!
</div>
@if (Model.Histories.Count == 0)
{
    <h5>Not histories added yet.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Histories.FirstOrDefault().ServiceType.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Remarks)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Histories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        <button data-id="@item.Id" class="btn btn-warning EditItem" title="Edit"><i class="fa fa-edit"></i></button>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" title="Delete" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Owners/DeleteHistory/' + item_to_delete;
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Edit item
            var item_to_Edit;
            $('.EditItem').click((e) => {
                item_to_Edit = e.currentTarget.dataset.id;
                window.location.href = '/Owners/EditHistory/' + item_to_Edit;
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // EditPet item
            var item_to_Edit;
            $('.EditPetItem').click((e) => {
                item_to_Edit = e.currentTarget.dataset.id;
                window.location.href = '/Owners/EditPet/' + item_to_Edit;
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Add History item
            var item_to_AddHistory;
            $('.AddHistoryItem').click((e) => {
                item_to_AddHistory = e.currentTarget.dataset.id;
                window.location.href = '/Owners/AddHistory/' + item_to_AddHistory;
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Return DetailsPet
            var item_to_DetailsPet;
            $('.DetailsPetItem').click((e) => {
                item_to_DetailsPet = e.currentTarget.dataset.id;
                window.location.href = '/Owners/Details/' + item_to_DetailsPet;
            });
        });
    </script>
}

