@model Veterinary.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}


 <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/Owners/Index">Clientes</a></li>        
         <li class="breadcrumb-item active" aria-current="page">Detalles Clientes</li>
     </ol>
 </nav>

<div class="container" id="advanced-search-form">
    <form>
        <fieldset disabled>
            <div class="form-row">
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.Document)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.Document)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.FirstName)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.FirstName)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.LastName)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.LastName)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.Email)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.Email)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.PhoneNumber)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.PhoneNumber)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.Address)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.Address)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.LandlinePhone)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.LandlinePhone)">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">@Html.DisplayNameFor(model => model.User.BusinessName)</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.User.BusinessName
                                                                                            )">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Nro Pets</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value=" @Html.DisplayFor(model => model.Pets.Count)">
                </div>
            </div>
            @*<div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>*@
        </fieldset>
    </form>
</div>
<div class="form-group">
    <div id="BtnRight">
        <button class="btn btn-warning  btn-responsive" onclick="EditItem(@Model.Id)" title="Edit" id="EditOwnerDetatil"> <i class="fa fa-edit"></i></button>
        <button class="btn btn-primary  btn-responsive" onclick="AddpetItem(@Model.Id)" title="Create" id="AddpetItem"> <i class="fa fa-plus"></i> </button>
        <button class="btn btn-success  btn-responsive" onclick="ReturnIndexOwner()" title="Return"> <i class="fa fa-undo"></i></button>
    </div>
</div>


@if (Model.Pets.Count == 0)
{
    <h4>Not Pets Added yet</h4>

}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mis Mascotas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive table-image">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().ImageUrl)</th>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().PetRace.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().PetType.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().BornLocal)</th>
                            <th>@Html.DisplayNameFor(model => model.Pets.FirstOrDefault().PetSex.Name)</th>
                            <th># Histories</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pets)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@if (!string.IsNullOrEmpty(item.ImageUrl)){
                                    <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.PetRace.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.PetType.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.BornLocal)</td>
                            <td>@Html.DisplayFor(modelItem => item.PetSex.Name)</td>  
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Histories.Count)</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-responsive" onclick="EditPetItem(@item.Id)" title="Edit" id="EditPetItem"> <i class="fa fa-edit"></i></button>
                                <button class="btn btn-info  btn-responsive" onclick="DetailPetItem(@item.Id)" title="Detail" id="DetailPetItem"> <i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger  btn-responsive" onclick="DeletePetItem(@item.Id)" title="Delete" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<partial name="_DeleteDialog" />

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "paging": true
                });
            });
        </script>
    }
}


