@model IEnumerable<Veterinary.Web.Data.Entities.Owner>

@{
    ViewData["Title"] = "Index";
}
<p>
    @*<a asp-action="Create" class="btn btn-primary">Create New</a>*@
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus-square"></i> Create New</a>
</p>
<table id="dtBasicExample" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                # Mascotas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Document)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pets.Count)
                </td>
                <td>                   
                    <button class="btn btn-warning EditItem" id="EditItem" onclick=EditItem(@item.Id) title="Edit"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-info" id="DetailsItem" onclick=DetailsItem(@item.Id) title="Detail"><i class="fa fa-search-plus"></i></button>
                    <button class="btn btn-danger " title="Delete" id="deleteItem" onclick=deleteItem(@item.Id) data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_DeleteDialog" />

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dtBasicExample').DataTable({
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "paging": true
                });
            });
        </script>
    }
}