@model Veterinary.Web.Data.Entities.Pet
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/MyPets">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayNameFor(model => model.Name)</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalles de Tipos de Mascota</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-image">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Owner</th>
                        <th> @Html.DisplayNameFor(model => model.Name)</th>
                        <th> @Html.DisplayNameFor(model => model.PetRace.Name)</th>
                        <th> @Html.DisplayNameFor(model => model.ImageUrl)</th>
                        <th> @Html.DisplayNameFor(model => model.Born)</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Owner.User.FullName)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.PetRace.Name)</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <img src="@Url.Content(Model.ImageUrl)" alt="Image" />
                            }
                        </td>
                        <td>@Html.DisplayFor(model => model.Born)</td>

                        <td class="text-center">
                            <button class="btn btn-warning  btn-responsive" title="Edit" onclick="HomeEditMyPet(@Model.Id)"><i class="fa fa-save"></i></button>
                            <button type="button" class="btn btn-success btn-responsive" title="Return" onclick="HomeMyPetsIndex()"> <i class="fa fa-undo"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (Model.Histories.Count == 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Atención!</strong> Aún no se han agregado historias.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mis Historias</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive table-image">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Histories.FirstOrDefault().ServiceType.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Histories.FirstOrDefault().Remarks)</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Histories)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DateLocal)</td>
                                <td>@Html.DisplayFor(modelItem => item.ServiceType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Remarks)</td>               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
    }

}


