<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mercamascotas.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="stylesheet" href="~/css/Site.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <app>
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" href="#">@User.Identity.Name</a>
                }
            </div>
            <div class="collapse">
                <ul class="nav flex-column">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item px-3">
                            <a class="nav-link" asp-controller="Owners" asp-action="Index">
                                <span class="oi oi-home" aria-hidden="true"></span> Owners
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="">
                                <span class="oi oi-plus" aria-hidden="true"></span> Managers
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" asp-controller="PetTypes" asp-action="Index">
                                <span class="oi oi-plus" aria-hidden="true"></span> Pet Types
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" asp-controller="ServiceTypes" asp-action="Index">
                                <span class="oi oi-plus" aria-hidden="true"></span> Service Type
                            </a>
                        </li>
                    }

                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <span class="oi oi-plus" aria-hidden="true"></span> Home
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Home" asp-action="About">
                            <span class="oi oi-plus" aria-hidden="true"></span> About
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">
                            <span class="oi oi-plus" aria-hidden="true"></span> Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main">          
            @if (User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a asp-area="" asp-controller="Account" asp-action="ChangeUser" class="navbar-brand">@User.Identity.Name</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-outline-success">Logout</a>
                        </div>
                    </div>
                </nav>

            }
            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </app>

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
