@model Veterinary.Web.Data.Entities.Manager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Managers/Index">Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Administradores</li>
            <li class="breadcrumb-item active" aria-current="page">Detalles Administradores</li>
        </ol>
    </nav>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive table-image">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.Document)</th>
                        <th> @Html.DisplayNameFor(model => model.User.FullName)</th>
                        <th> @Html.DisplayNameFor(model => model.User.Email)</th>
                        <th> @Html.DisplayNameFor(model => model.User.Address)</th>
                        <th> @Html.DisplayNameFor(model => model.User.PhoneNumber)</th>
                        <th> Opcion</th>
                    </tr>
                </thead>
                <tbody>        
                     <tr>
                         <td>@Html.DisplayFor(model => model.User.Document)</td>
                         <td>@Html.DisplayFor(model => model.User.FullName)</td>
                         <td>@Html.DisplayFor(model => model.User.Email)</td>
                         <td>@Html.DisplayFor(model => model.User.Address)</td>
                         <td>@Html.DisplayFor(model => model.User.PhoneNumber)</td>
                         <td class="text-center"> 
                             <button class="btn btn-warning" id="EditItem" title="Edit" onclick="ManagerEditItem(@Model.Id)"><i class="fa fa-edit"></i></button>
                             <button type="button" class="btn btn-success  btn-responsive" title="Return" onclick="ManagerIndex()"> <i class="fa fa-undo"></i></button>
                         </td>
                     </tr>                 
                </tbody>                  
            </table>
        </div>
    </div>
</div>
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "paging": true
                });
            });
        </script>
    }
}


