@model IEnumerable<Veterinary.Web.Data.Entities.Agenda>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Owners/Index">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Html.DisplayNameFor(model => model.Date)</li>
        </ol>
    </nav>

<p>
    <a asp-action="AddDays" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Days</a>
</p>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive table-image">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                        <th> Owner</th>
                        <th> Pet</th>
                        <th> @Html.DisplayNameFor(model => model.Remarks)</th>
                        <th> @Html.DisplayNameFor(model => model.IsAvailable)</th>
                        <th> Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DateLocal)</td>
                        <td>@Html.DisplayFor(modelItem => item.Owner.User.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pet.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Remarks)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsAvailable)</td>
                        <td>

                            @if (item.IsAvailable)
                            {
                                <button class="btn btn-info" id="DetailsItem" title="Create" onclick="AddAgendaItem(@item.Id)"><i class="fa fa-plus-circle"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-danger deleteItem" data-toggle="modal" title="Delete" onclick="DeleteAgendaItem(@item.Id)" data-target="#deleteDialog"><i class="fa fa-minus-circle"></i></button>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "paging": true
                });
            });
        </script>




    }
}
